.itemCard {
  border: 1px solid var(--color5);
  background-color: var(--color6);
  width: 95%;
  margin: 12px auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.itemImage {
  border: 1px solid var(--color5);
  border-radius: 4px;
  margin: 8px auto 0px auto;
  max-width: 475px;
  width: 90vw;
}

.priceTitleDate {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.price {
  border: 1px solid var(--color5);
  margin: 4px 8px;
  padding: 4px 8px;
}

.title {
  font-size: 1.4rem;
  font-weight: 300;
  position: relative;
  top: 8px;
}

.date {
  font-size: 1.1rem;
  margin: 4px 8px;
  padding: 4px 8px;
  font-weight: 600;
}

.status {
  display: flex;
  justify-self: start;
  margin-right: auto;
}

.status span {
  border-radius: 8px;
  color: var(--color2);
  border: 2px solid var(--color2);
  font-size: 0.8rem;
  padding: 4px;
  margin: 8px;
}
