.allcreators {
    background-color: var(--color5);
    font-family: 'Source Sans Pro';
    margin: 0;
}
.container {
    margin: 20px;
    width: 300px;
    height: 400px;
    padding: 0px;
}
.creator {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    height: auto;
    gap: 60px 60px; 
}

.text {
color:var(--color7);
padding: 20px;
}
.allcreators h2{
    text-align:left;
    color:var(--color7);

}
/* @media screen {
    
} */
.allcreators button {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    color: var(--color2);
    background-color: var(--color6);
    border: 2px solid var(--color1);
    border-radius: 4px;
    font-size: 0.6rem;
    padding: 4px 4px;
    margin: 0px 8px; */
}
.allcreators img {
 height:200px;
 width:250px ;
}
.allcreators p {
    padding: 10px;
}
