.authForm {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
}

.authForm * {
  font-family: 'Source Sans Pro';
  margin: 4px 0px;
}

.authForm label {
  margin-left: 4px;
  margin-top: 16px;
}

.authForm input {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 4px;
}

.authForm input::placeholder {
  font-weight: 200;
}

.lastName {
  margin-top: -12px;
}

.required {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: -16px;
}

.authForm button {
  font-size: 1.4rem;
  font-weight: 200;
  margin: 24px auto;
  padding: 8px;
  width: 40%;
}

.signInLinkContainer {
  margin: auto;
  font-weight: 300;
  font-size: 1.2rem;
}

.signInLink {
  color: blue;
  margin-left: 8px;
}

.signInLink:hover {
  cursor: pointer;
}